body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

header {
  z-index: 10;
}

.jumbotron {
  text-align: center;
  padding: 10px;
  background-image: url(Assets/mike-enerio-yPbBYE1pkHo-unsplash.jpg);
  background-size: cover;
  background-color: blueviolet;
  /* Background effect based on https://1stwebdesigner.com/15-css-background-effects/,
  designed by Manuel Pinto */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 190% 190%;
	animation: gradient 30s ease-in-out infinite;
  color: black;
  border-radius: 0;
  border-bottom: 20px solid black;
}

@keyframes gradient {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}

#currentDay {
  font-weight: bolder;
  font-size: 25pt;
  color: black;
}

.container {
  margin-bottom: 50px;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  border-top: 1px solid white;;
}

.hour {
  text-align: left;
  background-color: #E8DAEF;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #FCF3CF;
  color: black;
}

.future {
  background-color: #D5F5E3;
  color: black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #8E44AD;
  color: white;
}

.saveBtn:hover .fa-save {
  font-size: 25px;
  transition: all .3s ease-in-out;
}

.saveBtn:active .fa-save {
  color: black;
}

.fa-save, .fa-calendar-check {
  color: white;
}

.fa-calendar-check {
  font-size: 25px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .container {
  padding-top: 250px;
}